<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">Welcome</h1>
        <hr>
        <p>This is a dummy welcome page</p>
        <a href="/signout" class="btn btn-primary btn-xl page-scroll">Signout</a>
    </div>
</div>

<%- contentFor('styles') %>
    <link rel="stylesheet" href="/css/pages/home.css">